/* App.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    background-color: #5C67F2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4a54f1;
    transition: background-color 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center; /* Ensure vertical alignment is centered */
    justify-content: space-between; /* Spread content on the line */
}

li input[type="text"], li button {
    margin: 0 10px; /* Adjust spacing around inputs and buttons */
}

li button {
    padding: 8px 15px; /* Smaller padding for buttons */
}